{% load static%}

<div class="jumbotron text-center">
  <h1>Turno 2</h1>
  <h2>Jugadores</h2>
  {%for play in player_names%}
  <h3>{{play}}</h3>
  {%endfor%}
  <h3>pasta : {{gold}}</h3>
  {% if answ == 0%}
  <span id="animationSandbox" style="display: block;"><p class="recomd animated fadeInDown">Tu objectivo tiene igual que tu</p>
    {% elif answ == 1%}
  <span id="animationSandbox" style="display: block;"><p class="recomd animated fadeInDown">Tu objectivo tiene menos que tu</p>
    {% elif answ == -1%}
  <span id="animationSandbox" style="display: block;"><p class="recomd animated fadeInDown">Tu objectivo tiene mas que tu</p>
{%endif%}
    
  </span>

</div>


