{% load static %}
<p></p>
<p></p>
<p class="recomd monospace  ">El siguiente paso será reconfigurar la IP a través de una VPN.</p>
  <p class="recomd monospace  ">Para ello, aquí tenéis la aplicación de H4CK3R-B0T, el asistente que os ayudará a hacerlo:</p>
<link rel="stylesheet" href="{% static "game/bootstrap_dark.css" %}">
<div class="jumbotron text-center">
  <span id="animationSandbox" style="display: block;"><p class="recomd monospace animated fadeInDown">Lo siento pero no es correcto.
    Puedes probar a buscarlo en Wikipedia.</p>
    <div>
      <button type="button" class="btn btn-outline-success animated fadeInDown enter" id = "5"><p class=" monospace ">Atras</p></button>
      <p></p>
    </div>
  </span>
s
</div>


