{% load static %}
<p></p>
<p></p>
<p class="recomd monospace  ">El siguiente paso será reconfigurar la IP a través de una VPN.</p>
  <p class="recomd monospace  ">Para ello, aquí tenéis la aplicación de H4CK3R-B0T, el asistente que os ayudará a hacerlo:</p>
<link rel="stylesheet" href="{% static "game/bootstrap_dark.css" %}">
<div class="jumbotron text-center">
  <span id="animationSandbox" style="display: block;"><p class="recomd monospace animated fadeInDown">Hola soy H4CK3R-B0T, el asistente virtual de reconfiguración de IPs
    ¿En qué te puedo ayudar?</p>
    <div>
      <button type="button" class="btn btn-outline-success animated fadeInDown enter"id = "1" ><p class=" monospace " >Quiero activar una VPN y establecer una nueva IP</p></button>
      <p></p>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success animated fadeInDown enter"id = "2"><p class=" monospace "id = "2">Quiero eliminar mi rasrto de cookies</p></button>
      <p></p>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success animated fadeInDown enter"id = "3"><p class=" monospace "id = "3">Quiero pronunciar "Peludo" sin cerrar la boca</p></button>
      <p></p>
    </div>
  </span>

</div>
