{% load static %}
<p></p>
<p></p>
<p class="recomd monospace  ">El siguiente paso será reconfigurar la IP a través de una VPN.</p>
  <p class="recomd monospace  ">Para ello, aquí tenéis la aplicación de H4CK3R-B0T, el asistente que os ayudará a hacerlo:</p>
<link rel="stylesheet" href="{% static "game/bootstrap_dark.css" %}">
<div class="jumbotron text-center">
  <span id="animationSandbox" style="display: block;"><p class="recomd monospace animated fadeInDown">De acuerdo, para iniciar el proceso debo comprobar que eres un humano capaz, así que te pondré una serie de acertijos:</p>
    <p class="recomd monospace animated fadeInDown">
    Una manada de 5 leones capturan 5 gacelas en 5 minutos. ¿Cuántos leones necesitas para cazar 100 gacelas en 100 minutos?</p>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control2  animated fadeInDown " id = "input_chat" placeholder="Respuesta ......">
      </div>
    </div>
    <div>

      <button type="button" class="btn btn-outline-success animated fadeInDown enter" id = "4"><p class=" monospace ">Enter</p></button>
      <p></p>
    </div>
  </span>

</div>


