{% load static %}
<p></p>
<p></p>
<p class="recomd monospace  ">El siguiente paso será reconfigurar la IP a través de una VPN.</p>
  <p class="recomd monospace  ">Para ello, aquí tenéis la aplicación de H4CK3R-B0T, el asistente que os ayudará a hacerlo:</p>
<link rel="stylesheet" href="{% static "game/bootstrap_dark.css" %}">
<div class="jumbotron text-center">
  <span id="animationSandbox" style="display: block;">
    <img src={% static "chat_bot_final.png"%} class="img-fluid animated fadeInDown" alt="Responsive image">
    <p class="recomd monospace animated fadeInDown">¡Proceso Completado!
      Gracias por contar con mis servicios, adiós.</p>
    <p>Introduce el código como respuesta a este apartado para continuar.</p>
    <p></p>
    <p></p>
  </span>

</div>


